<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
        <property name="mappings">
            <props>
                <prop key="/hello.htm">helloController</prop>
                <prop key="/info.htm">personalInfoController</prop>
            </props>
        </property>
    </bean>

    <bean id="helloController" class="com.kgawa.spring2.HelloController">
        <property name="viewName" value="hello"/>
    </bean>

    <bean id="personalInfoController" class="com.kgawa.spring2.PersonalInfoController">
        <property name="view" value="personalInfo"/>
    </bean>

</beans>